html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

p {
  margin: 0 0 10px 0;
}

ul {
  margin: 0px;
}
hr {
  width: 100%;
  border-style: solid;
  border-color: #ddd;
}

.mono {
  font-family: "Roboto Mono", monospace;
}

.header {
  background-color: lightgray;
  padding: 5px;
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.error {
  color: red;
  font-weight: bold;
}

.main {
  margin: 20px 0;
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
}

.card {
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  align-items: flex-start;
  padding: 10px;
  border: 1px solid #ccc;
  gap: 10px;

  h3 {
    margin: 0 0 15px 0;
  }
}
